# Build artifacts
build/
bde/*.ko
bde/*.mod
bde/*.mod.c
bde/.*.cmd
bde/.tmp_versions/
onie-installer/open-nos-as5610-*.bin
onie-installer/sysroot.squash.xz
onie-installer/data.tar
onie-installer/.data.*
rootfs/staging/
boot/nos-auto.itb
boot/nos-minimal.its
initramfs/root/
initramfs/initramfs.cpio.gz
boot/uImage
boot/as5610_52x.dtb
boot/initramfs.cpio.gz
boot/nos-powerpc.itb
boot/kernel.gz
boot/as5610_52x_padded.dtb
boot/initramfs.cpio.gz

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
