[Unit]
Description=Load NOS BDE kernel modules (BCM56846)
DefaultDependencies=no
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'insmod /lib/modules/$(uname -r)/nos_kernel_bde.ko'
ExecStart=/bin/sh -c 'insmod /lib/modules/$(uname -r)/nos_user_bde.ko'

[Install]
WantedBy=multi-user.target
